<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

    <listener>
        <listener-class>com.walking.carpractice.servlet.listener.AddAttributeContextListener</listener-class>
    </listener>
    <listener>
        <listener-class>com.walking.carpractice.servlet.listener.DataBaseMigrationContextListener</listener-class>
    </listener>

    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>com.walking.carpractice.servlet.filter.AuthFilter</filter-class>
    </filter>
    <filter>
        <filter-name>RequestJsonDeserializerFilter</filter-name>
        <filter-class>com.walking.carpractice.servlet.filter.RequestJsonDeserializerFilter</filter-class>
    </filter>
    <filter>
        <filter-name>ResponseJsonSerializerFilter</filter-name>
        <filter-class>com.walking.carpractice.servlet.filter.ResponseJsonSerializerFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>RequestJsonDeserializerFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ResponseJsonSerializerFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>CarServlet</servlet-name>
        <servlet-class>com.walking.carpractice.servlet.CarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthServlet</servlet-name>
        <servlet-class>com.walking.carpractice.servlet.AuthServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpServlet</servlet-name>
        <servlet-class>com.walking.carpractice.servlet.SignUpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarSearchServlet</servlet-name>
        <servlet-class>com.walking.carpractice.servlet.CarSearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>com.walking.carpractice.servlet.UserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BrandServlet</servlet-name>
        <servlet-class>com.walking.carpractice.servlet.BrandServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModelServlet</servlet-name>
        <servlet-class>com.walking.carpractice.servlet.ModelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModelSearchServlet</servlet-name>
        <servlet-class>com.walking.carpractice.servlet.ModelSearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ErrorHandlingServlet</servlet-name>
        <servlet-class>com.walking.carpractice.servlet.ErrorHandlingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginJSP</servlet-name>
        <jsp-file>/login.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ResourceNotFoundJSP</servlet-name>
        <jsp-file>/404.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>BadRequestJSP</servlet-name>
        <jsp-file>/400.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>InternalErrorJSP</servlet-name>
        <jsp-file>/500.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>CarServlet</servlet-name>
        <url-pattern>/car</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthServlet</servlet-name>
        <url-pattern>/auth</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpServlet</servlet-name>
        <url-pattern>/signUp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarSearchServlet</servlet-name>
        <url-pattern>/car/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BrandServlet</servlet-name>
        <url-pattern>/brand</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModelServlet</servlet-name>
        <url-pattern>/model</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModelSearchServlet</servlet-name>
        <url-pattern>/model/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ErrorHandlingServlet</servlet-name>
        <url-pattern>/error</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginJSP</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResourceNotFoundJSP</servlet-name>
        <url-pattern>/notFound</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BadRequestJSP</servlet-name>
        <url-pattern>/badRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InternalErrorJSP</servlet-name>
        <url-pattern>/internalError</url-pattern>
    </servlet-mapping>
</web-app>